/* You can add global styles to this file, and also import other style files */

html {
  font-family: 'Lato', sans-serif;
  // color: #303036;
  color: #f0f0f0;

  background-color: #a20021;
}

// 4d9078
// a20021