<div class="game">
  <h1 class="game__title">Jogo da Memória Natalino</h1>

  <div class="game__level">
    <button
      type="button"
      (click)="selectLevel('easy')"
      class="game__level--btn"
      >fácil</button>
    <button
      type="button"
      (click)="selectLevel('medium')"
      class="game__level--btn"
    >médio</button>
    <button
      type="button"
      (click)="selectLevel('hard')"
      class="game__level--btn"
    >difícil</button>
  </div>
  <div class="game__grid">
    <div
      class="game__card"
      *ngFor="let card of cardsArr"
      (click)="flipCard()">

      <div class="game__card--side game__card--front" id="game__card--front">
        <img
          class="game__card--img"
          src="../../assets/card-front.png"
          alt="Cartão do jogo da memória">
      </div>

      <div class="game__card--side game__card--back" id="game__card--back">
        <img
          class="game__card--img"
          src="{{ card }}"
          alt="Cartão do jogo da memória">
      </div>

    </div>
  </div>
</div>