<div class="game">
  <h1>Jogo da memória</h1>

  <div class="game__level">
    <button
      type="button"
      (click)="selectLevel('easy')"
      class="game__level--btn"
      >fácil</button>
    <button
      type="button"
      (click)="selectLevel('medium')"
      class="game__level--btn"
    >médio</button>
    <button
      type="button"
      (click)="selectLevel('hard')"
      class="game__level--btn"
    >difícil</button>
  </div>
  <div class="game__grid" >
    <img
      *ngFor="let card of cardsArr"
      class="game__img"
      src="{{ card }}"
      alt="Cartão do jogo da memória">
  </div>
</div>