.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;

  &__title {
    font-size: 3.4rem;
    margin-bottom: 2rem;
  }

  &__level {
    display: flex;
    justify-content: space-around;
    width: 80vw;
    margin-bottom: 2rem;

    &--btn {
      cursor: pointer;
      text-transform: uppercase;
      padding: 1.5rem 3rem;
      border: none;
      border-radius: 5px;

      font-size: 2.5rem;
      color: #f0f0f0;
      background-color: #4d9078;
    }
  }


  &__grid {
    width: 80vw;
    height: 70rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  &__card {
    cursor: pointer;
    position: relative;

    margin-right: 30rem;

    &--side {
      position: absolute;
      top: 0;
      left: 0;

      transition: all .8s ease;
      backface-visibility: hidden;
      overflow: hidden;
    }

    &--back {
      transform: rotateY(180deg);
    }

    &--img {
      height: 20rem;
      border-radius: 5px;
    }

  }

}
